<div class="card shadow text-center mb-5">
    <div class="card-header bg-primary text-light">
        <h4>Ajouter un produit</h4>
    </div>

    <div class="card-body">
        <form [formGroup]="productForm" (submit)="onSubmit()">
            <div class="form-group">
                <input type="text" name="product" class="form-control" formControlName="name" placeholder="Ajouter produit . . ." required>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-12">
                  <input type="number" class="form-control" id="quantity" placeholder="Quantité" formControlName="quantity">
                </div>
              </div>
            <select class="form-select" aria-label="Default select example" formControlName="category">
                <option  *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
              </select>

              <div class="mb-3 row">
                <div class="col-sm-12">
                  <input type="number" class="form-control" id="price" placeholder="Prix" formControlName="price">
                </div>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="isImported " formControlName="isImported"> 
                <label class="form-check-label" for="flexSwitchCheckChecked">Produit importé</label>
              </div>
            <button class="btn btn-primary" > Ajouter </button>
        </form>
       
    </div>
</div>
