<div class="card shadow text-center mb-5">
    <div class="card-header bg-primary text-light">
        <h4>Ajouter un produit</h4>
    </div>

    <div class="card-body">
        <form [formGroup]="productForm" (submit)="onSubmit()">
            <div class="mb-3 row">
                <div class="col-sm-12">
                <input type="text" name="product" class="form-control" formControlName="name" placeholder="Ajouter produit . . ."  [ngClass]="{'error': submitted && productForm.controls['name'].errors}">
            </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-12">
                  <input type="number" class="form-control" id="quantity" placeholder="Quantité" formControlName="quantity" [ngClass]="{'error': submitted && productForm.controls['quantity'].errors}" >
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
            <select class="form-select" aria-label="Default select example" formControlName="category">
                <option  *ngFor="let category of categories" [ngValue]="category"  >{{category.name}}</option>
              </select>
              </div>
              </div>

              <div class="mb-3 row">
                <div class="col-sm-12">
                  <input type="number" class="form-control" id="price" placeholder="Prix" formControlName="price" [ngClass]="{'error': submitted && productForm.controls['price'].errors}">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-2">
              <div class="form-check form-switch">
                <label class="form-check-label float-right" for="isImported">Produit importé ?</label>
                <input class="form-check-input" type="checkbox" id="isImported " formControlName="isImported"> 
               
              </div>
              </div>
              </div>
            <button class="btn btn-primary" > Ajouter </button>
        </form>
       
    </div>
</div>
